{% extends 'core/base.html' %}
{% block title %} Add Event {% endblock title %} 
{% block content %}
<div class="jumbotron">
    <h1 align="center"> Add Event </h1>
</div>

<br>
{% if submitted %} 
    
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank you</h4>
        <p>Your Event Was Submitted!!</p>
        <hr>
        <p class="mb-0">Well done</p>
      </div>

{% else %} 


    <form action="" method="POST">
        {% csrf_token %}
    <div align="center">
        <div class="jumbotron">
            <div class="container">
                {{ form.as_p }}
            </div>
        </div>
    </div>
        <div align="center">
            <input type="submit" value="submit" class="btn btn-secondary">
        </div>
    </form>
    {% endif %}

{% endblock content %}