{% extends 'core/base.html' %}
{% block title %} Event List {% endblock title %} 
{% block content %}
    <div class="container">
      <div class="jumbotron">
        <h1 align="center">Events</h1>
      </div>
    </div>
  
   
  
        {% for event in event_list %}

       <div class="jumbotron">
        <div class="card text-left ">
            <div class="card-header">
                {{ event }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Venue: {{ event.venue }}</h5>
              <p class="card-text">
                <ul>
                    <li>Date: {{ event.event_date }}</li>
                    <li>Venue: {{ event.venue }}</li>
                    
                   
                    <li>Description: {{ event.description }}</li>
                    <li>Attendees: </li>
                    {% for user in event.attendees.all %} 
                       <ul><li>{{user}} </li> </ul> 
                    {% endfor %}
                </ul>
              </p>
            
            </div>
        
          </div>
          <div class="card-footer text-muted">
           <a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
           <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-danger btn-sm">Delete Event</a>
           
          </div>
          
       </div>
       
       
       
        
        
        {% endfor %}

       
               
 
{% endblock content %}